html {
  height: 100%;
}

body {
  margin: 0;
  font-size: 14px;
  text-rendering: geometricPrecision;
  overflow: hidden;
  height: 100%;
  background-color: #fff;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-wrapper {
  height: 100%;
}

.App-header {
  background-color: #222;
  height: 64px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  line-height: 64px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
